extends navigation

block content
  .container.wall-width
    .card
      .card-header
        Make Post
      .card-body
        form(method="POST" action="/posts" id="new-post")
          textarea.form-control(rows="2", name="post", placeholder="What's on your mind ?")
      .card-footer
        button.btn.btn-primary(type="submit" form="new-post") Post
    
    .posts
      each post in posts
        .post
          .card
            .card-body
              div.flex.align-end
                img.img-circle(src="https://picsum.photos/40/40")
                div.flex.column.ml-2
                  p.mb-0.text-primary= user.name
                  p.text-muted.text-sm= user.createdAt
              div.flex.column
                p= post.content
              hr
              div.flex
                span.text-warning.mr-2(id=`likes-${post.id}`) #{post.likes} Likes
                a.no-anchor-color.fa.fa-thumbs-up.m-auto.like-btn(href="#",data-id=post.id,data-resource-type="post") Like
                a.no-anchor-color.fa.fa-comment.m-auto(href="#") Comment
                a.no-anchor-color.fa.fa-share-square.m-auto(href="#") Share
              hr
              div.comments
                ul.list-group
                  each comment in post.comments
                    li.list-group-item.no-border
                      div.flex
                        img.comment-pic.img-circle(src="https://picsum.photos/30/30")
                        div.flex.column.ml-2
                          p.mb-0.ml-2.comment-content=comment.content
                          div.ml-2.flex
                            span.text-warning.mr-2.text-sm(id=`likes-${comment.id}`) #{comment.likes} Likes
                            a.text-sm.no-underline.like-btn(href="#",data-id=comment.id,data-resource-type="comment") Like
                            p.text-sm.ml-2.text-muted= comment.createdAt
            .card-footer.bg-transparent
                form(method="POST" action="/posts/" + post.id + "/comments")
                  div.flex.align-center
                    img.comment-pic.img-circle.mr-2(src="https://picsum.photos/30/30")
                    input.form-control.comment-box(type="text" placeholder="Write a comment..." name="comment" style="height:30px")        
